HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Service/UserService.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Service/TourService.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Service/JwtService.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Security/WebSecurityConfig.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Security/PasswordConfig.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Repository/UserRepository.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Repository/TourRepository.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Mapper/TourMapper.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/ErrorHandling/UsernameAlreadyExistsException.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/ErrorHandling/InvalidCredentialsException.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/ErrorHandling/GlobalExceptionHandler.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/ErrorHandling/ApiError.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Entity/UserEntity.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Entity/TourEntity.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/DTO/UserRegistrationDTO.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/DTO/UserLoginDTO.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/DTO/TourPatchDTO.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/DTO/TourDTO.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/DTO/LoginResponseDTO.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Controller/UserAuthController.java
src/main/java/com/birnbickl/Touren_Zeit_Erfassung/Controller/TourController.java
